<a href="https://colab.research.google.com/github/sumaiyaanjum/ML-MAJOR-FEB/blob/main/spam_ham.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
s = ['I hope, that when  i have built up my savings, i will be able to travel to mexica',
     'python supports multiple assignments in one statement',
     'python is an object oriented programming language']

In [16]:
type(s)

list

In [17]:
s[0]

'I hope, that when  i have built up my savings, i will be able to travel to mexica'

In [18]:
s[1].split()

['python', 'supports', 'multiple', 'assignments', 'in', 'one', 'statement']

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
x = vect.fit_transform(s)
x

<3x27 sparse matrix of type '<class 'numpy.int64'>'
	with 28 stored elements in Compressed Sparse Row format>

In [20]:
print(vect.get_feature_names())

['able', 'an', 'assignments', 'be', 'built', 'have', 'hope', 'in', 'is', 'language', 'mexica', 'multiple', 'my', 'object', 'one', 'oriented', 'programming', 'python', 'savings', 'statement', 'supports', 'that', 'to', 'travel', 'up', 'when', 'will']

In [21]:
import numpy as np
z = x.toarray()
z

array([[1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        2, 1, 1, 1, 1],
       [0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0]])

In [22]:
import pandas as pd 
df = pd.DataFrame(z,columns = vect.get_feature_names())
df

   able  an  assignments  be  built  have  ...  that  to  travel  up  when  will
0     1   0            0   1      1     1  ...     1   2       1   1     1     1
1     0   0            1   0      0     0  ...     0   0       0   0     0     0
2     0   1            0   0      0     0  ...     0   0       0   0     0     0

[3 rows x 27 columns]

In [23]:
#Tfidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
x = vect.fit_transform(s)
print(vect.get_feature_names())

import numpy as np
z = x.toarray()
df = pd.DataFrame(z,columns = vect.get_feature_names())
df

['able', 'an', 'assignments', 'be', 'built', 'have', 'hope', 'in', 'is', 'language', 'mexica', 'multiple', 'my', 'object', 'one', 'oriented', 'programming', 'python', 'savings', 'statement', 'supports', 'that', 'to', 'travel', 'up', 'when', 'will']

       able        an  assignments  ...        up      when      will
0  0.242536  0.000000     0.000000  ...  0.242536  0.242536  0.242536
1  0.000000  0.000000     0.389888  ...  0.000000  0.000000  0.000000
2  0.000000  0.389888     0.000000  ...  0.000000  0.000000  0.000000

[3 rows x 27 columns]