<a href="https://colab.research.google.com/github/sumaiyaanjum/ML-MAJOR-FEB/blob/main/spam_ham.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
s = ['congrats you have won lottery and if you want lottery call back to lottery number',
     'give bank details for lottery money',
     'lottery for sure if bank details are provided']

In [3]:
type(s)

list

In [4]:
s[0]

'congrats you have won lottery and if you want lottery call back to lottery number'

In [5]:
s[1].split()

['give', 'bank', 'details', 'for', 'lottery', 'money']

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
x = vect.fit_transform(s)
x

<3x20 sparse matrix of type '<class 'numpy.int64'>'
	with 26 stored elements in Compressed Sparse Row format>

In [8]:
print(vect.get_feature_names())

['and', 'are', 'back', 'bank', 'call', 'congrats', 'details', 'for', 'give', 'have', 'if', 'lottery', 'money', 'number', 'provided', 'sure', 'to', 'want', 'won', 'you']

In [11]:
import numpy as np
z = x.toarray()
z

array([[1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 3, 0, 1, 0, 0, 1, 1, 1, 2],
       [0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0]])

In [13]:
import pandas as pd 
df = pd.DataFrame(z,columns = vect.get_feature_names())
df

   and  are  back  bank  call  congrats  ...  provided  sure  to  want  won  you
0    1    0     1     0     1         1  ...         0     0   1     1    1    2
1    0    0     0     1     0         0  ...         0     0   0     0    0    0
2    0    1     0     1     0         0  ...         1     1   0     0    0    0

[3 rows x 20 columns]

In [14]:
#Tfidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
x = vect.fit_transform(s)
print(vect.get_feature_names())

import numpy as np
z = x.toarray()
df = pd.DataFrame(z,columns = vect.get_feature_names())
df

['and', 'are', 'back', 'bank', 'call', 'congrats', 'details', 'for', 'give', 'have', 'if', 'lottery', 'money', 'number', 'provided', 'sure', 'to', 'want', 'won', 'you']

        and       are      back  ...      want       won       you
0  0.244574  0.000000  0.244574  ...  0.244574  0.244574  0.489147
1  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
2  0.000000  0.420241  0.000000  ...  0.000000  0.000000  0.000000

[3 rows x 20 columns]